table {
    border-collapse: collapse;
    border: 3px outset brown;
    box-shadow: 5px 3px 8px gray;
}
table td {
    width: 40px;
    height: 40px;
    border: 1px solid brown;
    text-align: center;
    font-size: 24px;
}
table tr:nth-child(odd) td:nth-child(even) {
    background: brown;
}
table tr:nth-child(even) td:nth-child(odd) {
    background: brown;
}
table tr:nth-child(odd) td:nth-child(odd) {
    background: lightyellow;
}
table tr:nth-child(even) td:nth-child(even) {
    background: lightyellow;
}
table td.vert {
    background: lightgreen !important;
}