table {
    border-collapse: collapse;
    border: 3px outset brown;
    box-shadow: 5px 3px 8px gray;
}
table td {
    width: 40px;
    height: 40px;
    border: 1px solid brown;
    background: lightyellow;
    text-align: center;
    font-size: 24px;
}
